body{
    background-image: url('./media/images/background.jpg');
}
#text{
    text-align: center;
    font-size: 50px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
#screen{
    display: flex;
    justify-content: space-around;
}
#button-inputs{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#enemy-ships{
    display: flex;
    flex-wrap: wrap;
}
#reset-box{
    display: none;
    justify-content: center;
}
.ship-data{
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
}
#my-ship-hull{
    color: yellow;
    outline: 2px dashed purple;
}

.enemy-ship-data{
    margin-right: 135px;
    background-color: black;
}
#text-box{
    background-color: black;
}