body{
    background-color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
#screen{
    display: flex;
    justify-content: space-around;
}
#button-inputs{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#enemy-ships{
    display: flex;
    flex-wrap: wrap;
}